/silver
/silicon
/tmp
executionTreeData.js
executionTreeData.txt
dot_input.dot

# bloop and metals
.bloop
.bsp

.scalafmt.conf

perms
errors

# metals
project/metals.sbt
.metals

# vs code
.vscode
.vscode-server
.ssh

# scala 3
.tasty

# sbt
project/project/
project/target/
target/

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

#general
*.class

#docker
Dockerfile
.zcompdump
docker.sh

.vscode-server
.ssh

*.dSYM
*.out
sandbox.c0

study/benchmarks

*.log
temp.c0
a.out
*.sh
*.xml.bz2
*.zip
*.results.default*.txt

*.RData
*.Rhistory
study/data
study/results*
study/aws/archives
study/aws/local
study/aws/remote