name: Executor - Mass Data Collection
on: [ workflow_dispatch ]
permissions:
  contents: read
jobs:
  build:
    name: Build Verifier @ Latest Version
    timeout-minutes: 4200
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: 'gradual-verification/silicon-gv'
          path: './silicon'
      - uses: actions/checkout@v3
        with:
          repository: 'gradual-verification/silver-gv'
          path: './silicon/silver'
      - name: Assembly
        run: sbt assembly
      - name: Execution
        run: export VERSION=evaluation-08-05-23 && java -Xss30M -Xmx12G -jar target/scala-2.12/gvc0-assembly-0.1.0-SNAPSHOT.jar --config=./data/config/nuc.xml --execute --nickname=${{ runner.name }} --db-url=${{ secrets.DB_URL }} --db-user=${{ secrets.DB_USER }} --db-pass=${{ secrets.DB_PASSWORD }} --version="$VERSION"
